{% extends "../components/layout.html" %}

{% block content %}
<div>
    <header>
        <span>업데이트</span>
        <div>제목</div>
        <div>
            <span>작성자</span>
            <span>작성날짜</span>
        </div>
    </header>
    <div>
        내용내용내용
        <div>
            <button type="button">목록보기</button>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="">이전글1</a></li>
            <li><a href="">이전글2</a></li>
        </ul>
    </footer>
</div>
<aside>
    최근게시물
    <ul>
        <li>
            <a href="">
                <div>[업데이트] 제목</div>
                <div>날짜</div>
            </a>
        </li>
    </ul>
</aside>
{% endblock %}