body {
    // background: #ff0000;
}

// login
.login-area,
.join-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
    }
}
