{% extends "../components/layout.html" %}
{% block content %}
<ul>
    <li>
        <a href="/board/view">
            <img src="" alt="">
            <div>
                [업데이트] 게시글 제목<br>
                업데이트 설명
            </div>
            <div>
                21.02.08
            </div>
        </a>
    </li>
</ul>
<div class="pagenation">
    1, 2, 3, 4, 5
</div>
<div class="search">
    <form action="">
        <select name="" id="">
            <option value=""></option>
        </select>
        <input type="text" placeholder="검색">
    </form>
</div>
{% endblock %}